<div class="container w3-animate-zoom">
    <h1>Employee <span> Page</span></h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Workforce</a>
            </div>
            <button class="btn btn-primary navbar-btn" (click)="onSelectEmployee()">Employee</button>
            <button class="btn btn-primary navbar-btn" (click)="onSelectAddEmployee()">Add-Employee</button>
        </div>
    </nav>
    <div class="panel panel-default">
        <div class="panel-body"></div>
    </div>
</div>